
body {
   // margin: 20px auto 10px auto;
    background: #FFCCFF;
    padding: 10px;
    border: 3px solid #CC00FF;
    color: #CC00FF;
}

#wrap h1 {
    color: #FF66CC;  
}

#header {
    height: 100px;
    text-align:center;
}

#title {
    font-size: 2.5em;  
}

#top_menu {
    height: 30px;
    background: #FF99FF;
    font-size: 1.3em;
}
a {
 text-decoration: none; 
 font-weight:bold;   
 font-size: 1em;
}

a:link {
    color:#FF0099;       
}

a:visited {
    color:#FF0099;       
}

a:hover {
    color:#FFFFFF;      
}

a:clicked {
    color:#FFFFFF;       
}

#top_menu ul {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}
#top_menu ul li {
    display: block;
    float: left;
    padding: 0 20px 0 0;
}

#user_authentication {
    display: block;
    float: right;
}

#user_authentication ul li {
    display: block;
    float: left;
    padding: 0 20px 0 0;
}

#wrap_content { 
    
}

#content {
    display: block;
    width: 70%;
    overflow: auto;
    margin: 0px 40px;
}

#right_panel {
   width: 20%;
   position:fixed;
   top: 200px;
   right:5px;
}

#footer {

}


#comments div{
    border: 2px solid #CC00FF;  
    padding: 2px;
}

.label {
    font-weight: bold;
}

.system_comment {
    background-color:#99FFFF;
}

.resolver_comment {
    background-color:#99FF66;
}