<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %} " />
        {% block head %} {% endblock %}
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                {% block header %}
                	<h1>Bug Tracking System</h1>
                	<div id="user_authentication">
	                	{% if not user.is_authenticated  %}
	  							<a href="/users/login/">Log in</a> or <a href="/users/sign_up/">Sign up </a>
						{% else %}
						<ul>
							  	<li><a href="/users/change/">My account</a></li>
							  	<li><a href="/users/password_change/">Change password</a></li>
							  	<li><a href="/users/logout/">Log out</a></li>
						</ul>
						{% endif %}
					</div>
            	{% endblock %}
            </div>
            <div id="top_menu">
            <ul>
            	{% block top_menu %}            	
					<li><a href="/bugs/browse/">Browse</a></li>
					<li><a href="/social/message_list">Messages</a></li>
					<li><a href="/bugs/report">Report a bug</a></li>
            	{% endblock %} 
            	</ul>
            </div>
            <div id="wrap_content">
            	<div id="content">
            	   {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                	{% block content %}
                	
                	{% endblock %}
                </div>
            </div>
	        <div id="footer">
		        {% block footer %}
		        
		        {% endblock %}	
	        </div>
        </div>
    </body>
</html>