<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %} " />
        {% block head %} {% endblock %}
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                {% block header %}
                	<h1 id="title" onclick="window.location='/'">Bug Tracking System</h1>
                	<div id="user_authentication">
	                	{% if not user.is_authenticated  %}
	  							<a href="/users/login/">Log in</a> or <a href="/users/sign_up/">Sign up </a>
						{% else %}
						
						<ul>
							<li>Hello, {{ user.username|title }} </li>
							  	<li><a href="/users/change/">My account</a></li>
							  	<li><a href="/users/password_change/">Change password</a></li>
							  	<li><a href="/users/logout/">Log out</a></li>
						</ul>
						{% endif %}
					</div>
            	{% endblock %}
            </div>
            <div id="top_menu">
                <ul>
            	{% block top_menu %}
            			{% if user.is_staff %}
            			<li><a href="/admin/">Admin site</a></li>
            			{% endif %}
						<li><a href="/bugs/browse/">Browse</a></li>		
					
						<li><a href="/social/">Messages</a></li>
						<li><a href="/bugs/report">Report a bug</a></li>
						<li><a href="/bugs/to_resolve">Bugs to Resolve</a></li>
						
						{% if perms.users.gatekeeper %}
							<li><a href="/bugs/unconfirmed">Unconfirmed Bugs</a></li>
						{% endif %}
					
            	{% endblock %} 
            	</ul>
            </div>
            <div id="wrap_content">
            	<div id="content">
            	   {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                	{% block content %}
                	
                	{% endblock %}
                </div>
                <div id="right_panel" >
                    {% block right_panel %}
                    
                    {% endblock %}
                </div>
            </div>
	        <div id="footer">
		        {% block footer %}
		        
		        {% endblock %}	
	        </div>
        </div>
    </body>
</html>