<ul>
  <li><a href="users/sign_up/">Sign up </a></li>
  {% if not user.is_authenticated  %}
  	<li><a href="users/log_in/">Log in</a></li>
  {% else %}
  	<li><a href="users/log_out/">Log out</a></li>
  {% endif %}
</ul>

{% if user.is_authenticated %}
<h2>Social</h2>

<ul>
	<li><a href="/social/message_list">Messages</a></li>
</ul>

{% endif %}

{% if user.is_authenticated %}
<h2>Bugs</h2>
<ul>
	<li><a href="/bugs/create">Report a bug</a></li>
	<li><a href="/bugs/browse/">Browse</a></li>
</ul>

{% endif %}
