{% extends "base.html" %}

{% block top_menu %}

<ul>
  <li><a href="users/sign_up/">Sign up </a></li>
  {% if not user.is_authenticated  %}
  	<li><a href="users/login/">Log in</a></li>
  	<li><a href="users/password_reset/">{{ "¿Forgot your password?" }}</a></li>
  {% else %}
  	<li><a href="users/change/">Update my information</a></li>
  	<li><a href="users/password_change/">Change password</a></li>
  	<li><a href="users/logout/">Log out</a></li>
  {% endif %}
</ul>

{% if user.is_authenticated %}
<h2>Social</h2>

<ul>
	<li><a href="/social/message_list">Messages</a></li>
</ul>

{% endif %}

{% if user.is_authenticated %}
<h2>Bugs</h2>
<ul>
	<li><a href="/bugs/create">Report a bug</a></li>
	<li><a href="/bugs/browse/">Browse</a></li>
</ul>

{% endif %}

{% endblock %}
